{{ define "main" }}
<main class="container py-5 flex-grow-1">
  <div class="row justify-content-center">
    <div class="col-12 mw-md mh-100">
      {{ range $i, $e := (.Paginate .RegularPages).Pages }}
        <article class="py-4">
          <div class="py-2">
            <h2 class="display-1 text-center text-uppercase my-0 py-0"><a class="text-decoration-none fw-bold" href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <div class="text-center text-muted mb-1">
              {{ with .Params.Author }}
                <span class="small mx-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                  </svg>
                  {{ . }}
                </span>
              {{ end }}
              {{ with .Date }}
                <span class="small mx-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-calendar-fill" viewBox="0 0 16 16">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5z"/>
                  </svg>
                  {{ .Format "January 2, 2006" }}
                </span>
              {{ end }}
              {{ with .ReadingTime }}
                <span class="small mx-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-stopwatch-fill" viewBox="0 0 16 16">
                    <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07A7.001 7.001 0 0 0 8 16a7 7 0 0 0 5.29-11.584.531.531 0 0 0 .013-.012l.354-.354.353.354a.5.5 0 1 0 .707-.707l-1.414-1.415a.5.5 0 1 0-.707.707l.354.354-.354.354a.717.717 0 0 0-.012.012A6.973 6.973 0 0 0 9 2.071V1h.5a.5.5 0 0 0 0-1h-3zm2 5.6V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 1 1 1 0z"/>
                  </svg>
                  {{ . }} min read
                </span>
              {{ end }}
              {{ with .WordCount }}
                <span class="small me-2">{{ . }} words</span>
              {{ end }}
            </div>
            <div class="text-center">
              {{ with .Params.Categories }}
                <span class="mx-2"> 
                  {{ range . }}
                    <a class="badge bg-primary text-decoration-none" href="{{ site.BaseURL }}categories/{{ . | urlize}}/">
                      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-tags-fill" viewBox="0 0 16 16">
                        <path d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                        <path d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043-7.457-7.457z"/>
                      </svg>
                      {{ . }}
                    </a>
                  {{ end }}
                </span>
              {{ end }}
            </div>
          </div>
          <div class="text-center py-2">
            {{ .Summary }}
          </div>
        </article>
      {{ end }}
    </div>
  </div>
  <div class="row">
    {{ template "_internal/pagination.html" . }}
  </div>
</main>
{{ end }}
