{{ define "main" }}
  <main>
    <style>
      .toggle-content {
        display: visible; /* Show by default */
        margin-top: 1em;
      
}
      .toggle-button {
        cursor: pointer;
        user-select: none;
      
}
      img {
	  width:30%;
}
    </style>

    <center><p>Site under construction. Migrating posts.</p></center>
    <img src="/images/homepage.png" alt="homepage.png">
    <!-- Changed ▼ to ▲ -->
    <h1 class="toggle-button" onclick="toggleDropdown()">📂 Queztaz ▲</h1>

    <div id="dropdown-content" class="toggle-content">
      <ul>
        {{ range (where .Site.RegularPages "Type" "in" site.Params.mainSections) }}
        <li>
          <span style="font-size: small;">{{ .Date.Format "2006-01-02" }}</span>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    </div>

    <script>
      function toggleDropdown() {
        const content = document.getElementById("dropdown-content");
        const header = document.querySelector(".toggle-button");
	const isVisible = getComputedStyle(content).display === "block";
        content.style.display = isVisible ? "none" : "block";
        header.innerHTML = isVisible ? "📂 Queztaz ▼" : "📂 Queztaz ▲";
      
}
    </script>
  </main>
{{ end }}
