<nav class="navbar navbar-expand-lg navbar-light py-3">
  <div class="container">
    <a class="h3 d-flex align-items-center text-lowercase text-decoration-none my-0 py-0" href="{{ .Site.BaseURL }}">
      {{ .Site.Title }}
    </a>
    <button class="navbar-toggler border-0 text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-xl-0">
        {{ range .Site.Menus.main }}
          <li class="nav-item text-center">
            <a class="nav-link text-primary text-uppercase h6 small ps-lg-3 m-0" href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ end }}
        <li class="nav-item text-center">
          <a id="light-dark-toggler" class="nav-link text-primary text-uppercase h6 small ps-lg-3 m-0" href="">
            <i class="bi bi-circle-half"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
